.button {
  font-size: 1.2rem;
  font-weight: normal;
}

.neutral {
  color: var(--al-white);
  background-color: var(--al-blue);
  border: 1px solid var(--al-blue);
  border-radius: 5px;
  transition: all 0.5s;
  padding: 8px 30px;
}

.neutral:hover {
  background-color: #2026d280;
  border: 1px solid var(--al-blue);
}

.giant {
  color: white;
  border-radius: 2px;
  transition: all 0.5s;
  margin-top: 20px;
  font-size: 1.6rem;
  padding: 1rem 3rem;
  background-color: var(--sb-turquoise);
  padding: 8px 30px;
}

.giant:hover {
  background-color: var(--sb-text-dark);
}

.right-margin {
  margin-right: 20px;
}
