.qb-table-dashboard-container {
  display: flex;
  width: 100%;
  overflow: scroll;

  flex-direction: column;
  align-items: center;
  margin: 0px 20px;

  .qb-table-container {
    width: 100%;
    height: 80vh;
    overflow: scroll;
    display: block;
    z-index: 10;
    border: 1px solid var(--al-divider);
    margin-top: 9vh;
    content-visibility: auto;
  }
}
