table {
  border-collapse: collapse;
  width: 100%;
}

.no-results {
  display: flex;
  justify-content: center;
  font-weight: normal;
  font-size: 1.6rem;
  color: var(--sb-text-dark);
  margin-top: 10vh;
}
