.dropdown-navigation-link {
  cursor: pointer;
  position: relative;

  &-label {
    padding: 20px 30px;
    display: flex;

    color: var(--al-text-dark);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;

    transition: all 0.5s;

    &:hover,
    &.highlight,
    &.active {
      background-color: var(--al-text-dark);
      color: var(--al-white);
    }

    &.active + .nav-dropdown {
      transform: translateX(100%);
      z-index: 1;
    }
  }

  & .nav-dropdown {
    display: flex;
    flex-direction: column;

    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(0%);
    z-index: -100;

    width: max-content;
    transition: all 0.3s;

    color: var(--al-text-dark);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    &-anchor {
      display: inline-block;
      padding: 20px 30px;
      background-color: var(--al-white);
      color: var(--al-text-dark);

      transition: all 0.5s;
      &.active,
      &:hover {
        background-color: var(--al-text-dark);
        color: var(--al-white);
      }
    }
  }
}
