th.table-heading-cell {
  font-size: 2rem;
  font-weight: normal;
  text-transform: uppercase;
}

th {
  padding: 6px;
  border: 1px solid #ccc;
  background-color: var(--al-background);
  font-weight: bold;
  text-align: left;
}

.sort {
  font-size: 2rem;
  font-weight: normal;
  text-transform: uppercase;
}
